@{
    ViewData["Title"] = "Access Denied";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center">
                <img src="~/images/access-denied.png" alt="Access Denied" class="img-fluid rounded" style="max-width: 100%; height: auto;"/>
            </div>
            <h1 class="text-center">@ViewData["Title"]</h1>
            <p class="lead text-center">Sorry, you do not have permission to access this page.</p>
            <div class="text-center mt-4">
                <a href="/" class="btn btn-primary">Return Home</a>
            </div>
        </div>
    </div>
</div>
