@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>

    <div class="my-4">
        <h2>1. Introduction</h2>
        <p>At Bothniabladet, we respect your privacy and are committed to protecting your personal data. This privacy policy will inform you as to how we look after your personal data when you visit our website (regardless of where you visit it from) and tell you about your privacy rights and how the law protects you.</p>
        
        <h2>2. What data do we collect?</h2>
        <p>Bothniabladet collects the following data:</p>
        <ul>
            <li>Personal identification information: Username, email address.</li>
            <li>Browser and visit information: IP address, cookie data, data about your browser version and type, and your activity on our website.</li>
        </ul>
        
        <!-- Continue here with the rest of your privacy policy content -->

    </div>
</div>
